/* colors.css */
.bg-primary {
  background-color: #3498db;
}

.bg-secondary {
  background-color: #2ecc71;
}

.bg-success {
  background-color: #28a745;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-info {
  background-color: #17a2b8;
}

.bg-light {
  background-color: #f8f9fa;
}

.bg-dark {
  background-color: #343a40;
}

.text-primary {
  color: #3498db;
}

.text-secondary {
  color: #2ecc71;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.text-warning {
  color: #ffc107;
}

.text-info {
  color: #17a2b8;
}

.text-light {
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}
