/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

main .container {
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  padding: 30px 60px;
}

main form h1 {
  margin-bottom: 20px;
  text-align: center;
}

main form .field {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #000;
}

select {
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;

  /* for custom dropdown icon */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.4-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
  background-size: 12px auto;
  padding-right: 40px;

  /* Animation */
  transition: all 0.2s ease;
}

select:hover {
  border-color: black;
}

select:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: none;
}

select:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.7;
}

footer {
  background-color: #333;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: center;
}
